section.digest-posts {
  margin: 0;
  padding: 10px 0;
  background: var(--theme-secondary-bgcolor);
}

section.digest-posts > h3 {
  margin: 20px 0 0 20px;
  font-size: 1em;
  text-transform: uppercase;
  background: var(--theme-secondary-color);
  border-radius: 15px;
  padding: .2em 1em;
  display: inline;
}

.digest-posts ul {
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.digest-posts ul li {
  margin-right: 15px;
  display: inline-flex;
  width: 400px;
}

.digest-posts ul li:last-child {
  padding-right: 20px;
}


.blog-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  box-shadow: 0 0.1875rem 1.5rem $shadow;
  overflow: hidden;
}


.card-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  &:hover .post-title {
    @include transition(color 0.3s ease);
    color: red;
  }
  &:hover .post-image {
    @include transition(opacity 0.3s ease);
    opacity: 0.9;
  }
}

.card-avatar span{
  font-size: 1.1em;
  font-weight: 700 !important;
}

.card-avatar img {
  z-index: 1000;
}

.post-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 16px 0px 5px;
  width: 100%;
  justify-content: space-between;
  line-height: 100%;
}

.post-meta span.node-type {
  font-size: .8em;
  font-weight: 700;
  color: var(--theme-secondary-color);
  text-transform:uppercase;

}

.post-image {
  @include transition(opacity 0.3s ease);
  display: block;
  width: 100vw;
	object-fit: cover;
  max-height: 200px;
  width: 390px;
  max-width: 90vw;
}

.article-details {
  padding: 1.5rem;
}

.post-category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0625rem;
  margin: 0 0 0.75rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 0.125rem solid $border;
}

.post-title {
  @include transition(color 0.3s ease);
  font-size: 1.125rem;
  line-height: 1.4;
  color: $black;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

.post-author {
  font-size: 0.875rem;
  line-height: 1;
  margin: 1.125rem 0 0 0;
  padding: 1.125rem 0 0 0;
  border-top: 0.0625rem solid #ebebeb;
}

section.digest-single {
  padding: 0;
  margin-bottom:  80px;
}
section.digest-single .post-image {
  max-height: 400px;
}

section.digest-single .article-details {

}


.article-comments {
  padding: 8px 20px 8px 20px;
  background-color: var(--theme-primary-bgcolor);
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.article-comments input:focus {
  padding: 12px 20px 15px;
  color: #000;
  outline-color: var(--theme-primary-color);
  width: 85vw;
}


@media only screen and (max-width:767px) {
  .blog-card {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width:768px) {
  section.digest-posts{
    width: 100vw;
  }
  section.digest-posts ul li.single {
    width: 690px !important;
  }
  .post-image {
    width: 600px;
  }
  section.digest-single .post-image {
    width: 100vw;
    max-height: 600px !important;
  }
}
