.onboarding {
 /* //background-color: var(--theme-primary-color); */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 -webkit-animation: sk-scaleout 2.0s ease-in-out;
 animation: sk-scaleout 2.0s ease-in-out;
}

.onboardingform {
  justify-content: space-evenly;
}

.onboardingform .heading {
  text-align: center;
}
.onboardingform .heading h5{
  margin: 0px
}

.onboarding a {
  /* margin-bottom: 20vh; */
}

.onboarding p {
  font-size: .85em;
}

.onboarding h1 {
  font-size: 5em;
  margin: .5em auto 0 ;
  line-height: .7em;
}

.onboarding h2 {
  font-size: 2em;
  margin: .2em auto;
}
