/* Define a variable at the top level of the cascade */
:root {
  --theme-primary-color: rgb(146, 210, 223);
  --theme-primary-bgcolor: #ffffff;

  --theme-secondary-color: rgb(227, 130, 130);
  --theme-secondary-bgcolor: #F6F8F8;

  --theme-dark-color: rgb(37, 78, 112);
  --theme-heading-color: rgb(15, 15, 15);

  --theme-input-placeholder-color: rgb(15,15,15);

  --theme-font-stack: 'Open Sans', sans-serif;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--theme-input-placeholder-color);
  font-weight: 400;
  font-family: var(--theme-font-stack);

}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--theme-input-placeholder-color);
  font-weight: 400;
  letter-spacing: 0.025em;
  font-family: var(--theme-font-stack);

}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--theme-input-placeholder-color);
  font-weight: 400;
  letter-spacing: 0.025em;
  font-family: var(--theme-font-stack);

}
:-moz-placeholder { /* Firefox 18- */
  color: var(--theme-input-placeholder-color);
  font-weight: 400;
  letter-spacing: 0.015em;
  font-family: var(--theme-font-stack);

}


.is-expanded{
  width: 45vw !important;
  margin: 0 auto;
  left: 1em !important;
  right: 1em !important;
}


figure.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .77em;
}

figure.avatar img{
  margin: 0 5px;
}

#confetti {
  position: absolute;
  top:0;
  z-index: -1;
  background: var(--theme-primary-color);
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: var(--theme-secondary-color);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
